* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #edf6f9;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: sticky;

  h1 {
    font-size: 3rem;
    color: #006d77;
  }

  .search {
    display: flex;
    justify-content: center;
    padding: 10px;

    .search-input {
      padding: 0.5rem;
      border: solid rgb(104, 104, 104) 2px;
      border-radius: 5px;
      margin: 2.5px;
    }
    .search-btn {
      padding: 0.5rem;
      border: solid rgb(104, 104, 104) 2px;
      border-radius: 5px;
      margin: 2.5px;

      font-size: medium;

      transition-property: background-color;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;
    }

    .search-btn:hover {
      background-color: #83c5be;
    }
  }
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;

  background-color: aqua;

  .gif-carga {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 10px;

    .col-first {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/* Para pantallas medianas (tablets) */
@media (max-width: 1024px) {
  #container {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  }
}

/* Para pantallas pequeñas (móviles grandes) */
@media (max-width: 768px) {
  #container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Para pantallas muy pequeñas (móviles pequeños) */
@media (max-width: 480px) {
  #container {
    grid-template-columns: 1fr; /* 1 columna */
    padding-left: 10px;
    padding-right: 10px;
  }
}

footer {
  display: flex;

  padding: 30px;

  justify-content: center;
  align-items: center;
  gap: 40px;

  button {
    margin-top: 5px;
    background-color: #b8dedc;
    padding: 10px;
    border: #006d77 solid 1px;
    border-radius: 15px;
  }
}

.lds-ripple {
  /* change color here */
  color: #1c4c5b;
}
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
